/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

a {
		color: #222;
		text-decoration: none;
		border-bottom: solid .125em #222;
		transition: border ease 0.2s;
}

a:hover {
		border-bottom: solid .125em white;
}

body.night a {
		color: #eeeceb;
		border-bottom: solid .125em #eeeceb;
}

body.night a:hover {
		border-bottom: solid .125em #444;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: white;
    text-shadow: none;
}

::selection {
    background: white;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

p {
	padding: 0;
	margin: 0;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Stylin on you
   ========================================================================== */

body {
	font-family: "futura-pt",sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
  background: #EAE3DB;
  color: #222;
	margin: 0 auto;
	max-width: 30em;
	padding: 0 2em;
	padding-bottom: 2em;
}

body.noscroll {
	overflow: hidden;
}

body.night {
	color: #eeeceb;
	background: #222;
}

header {
	padding-top: 4em;
	margin-bottom: 2em;
}

header svg {
	width: 12em;
	height: 100%;
	margin-bottom: 1em;
}

#logo {
	border: solid .125em transparent;
}

.tinyfires-svg {
	fill: #222;
}

body.night .tinyfires-svg {
	fill: #eeeceb;
}

header img {
	margin-bottom: 1em;
}

li {
	list-style: none;
	margin-bottom: .2em;
}

ul {
	padding: 0;
	margin: 0;
}

.portfolio {
	font-size: 1.5em;
}

.portfolio, .productList {
	margin-bottom: 2em;
	transition: margin ease 0.3s;	
}

.contact, .richmond, .links {
	padding: 1em 0;
}

.richmond svg {
	height: 100%;
	width: 9em;
}

.richmond-svg {
	fill: #222;
}

body.night .richmond-svg {
	fill: #eeeceb;
}

#timeIcon {
	color: #222;
}

body.night #timeIcon {
	color: #eeeceb;
}

footer {
	margin-bottom: 2em;
	overflow: hidden;
}

.productList {
	margin-top: 4em;
}

.product {
	text-align: center;
}

.product h1 {
	text-align: left;
	border-bottom: solid .125em #222;
}

.product img {
	height: 400px;
	width: 400px;
}

.product p {
	text-align: left;
	margin: 2em 0;
}

.product .buyIt {
	width: 100%;
	border: solid .125em #222;
	background: none;
	font-weight: 700;
	transition: background ease 0.3s;
	display: block;
	padding: 5px 0;
}

body.night .product .buyIt {
	border: solid .125em #eeeceb;
}

body.night .product .buyIt:hover {
	background: #444;
}

.product .buyIt:hover {
	background: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	.portfolio {
		font-size: 3em;
	}
	
	.portfolio, .productList {
		margin-left: -10%;
	}
	
	.contact, .richmond, .links {
		width: 33.33%;
		float: left;
	}
	
	.richmond {
		text-align: center;
	}
	
	.links {
		text-align: right;
	}
	
	.timeofday {
		position: fixed;
		bottom: 2em;
		left: 2em;
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Animations
   ========================================================================== */

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.animated.hinge {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
@-webkit-keyframes bounceIn {
    0% {
    opacity: 0;
    -webkit-transform: scale(.3);
}
50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
}
70% {
    -webkit-transform: scale(.9);
}
100% {
    -webkit-transform: scale(1);
}
}@-moz-keyframes bounceIn {
    0% {
    opacity: 0;
    -moz-transform: scale(.3);
}
50% {
    opacity: 1;
    -moz-transform: scale(1.05);
}
70% {
    -moz-transform: scale(.9);
}
100% {
    -moz-transform: scale(1);
}
}@-o-keyframes bounceIn {
    0% {
    opacity: 0;
    -o-transform: scale(.3);
}
50% {
    opacity: 1;
    -o-transform: scale(1.05);
}
70% {
    -o-transform: scale(.9);
}
100% {
    -o-transform: scale(1);
}
}@keyframes bounceIn {
    0% {
    opacity: 0;
    transform: scale(.3);
}
50% {
    opacity: 1;
    transform: scale(1.05);
}
70% {
    transform: scale(.9);
}
100% {
    transform: scale(1);
}
}.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
@-webkit-keyframes bounceInUp {
    0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
}
60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
}
80% {
    -webkit-transform: translateY(10px);
}
100% {
    -webkit-transform: translateY(0);
}
}@-moz-keyframes bounceInUp {
    0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
}
60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
}
80% {
    -moz-transform: translateY(10px);
}
100% {
    -moz-transform: translateY(0);
}
}@-o-keyframes bounceInUp {
    0% {
    opacity: 0;
    -o-transform: translateY(2000px);
}
60% {
    opacity: 1;
    -o-transform: translateY(-30px);
}
80% {
    -o-transform: translateY(10px);
}
100% {
    -o-transform: translateY(0);
}
}@keyframes bounceInUp {
    0% {
    opacity: 0;
    transform: translateY(2000px);
}
60% {
    opacity: 1;
    transform: translateY(-30px);
}
80% {
    transform: translateY(10px);
}
100% {
    transform: translateY(0);
}
}.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
    0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
}
60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
}
80% {
    -webkit-transform: translateY(-10px);
}
100% {
    -webkit-transform: translateY(0);
}
}@-moz-keyframes bounceInDown {
    0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
}
60% {
    opacity: 1;
    -moz-transform: translateY(30px);
}
80% {
    -moz-transform: translateY(-10px);
}
100% {
    -moz-transform: translateY(0);
}
}@-o-keyframes bounceInDown {
    0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
}
60% {
    opacity: 1;
    -o-transform: translateY(30px);
}
80% {
    -o-transform: translateY(-10px);
}
100% {
    -o-transform: translateY(0);
}
}@keyframes bounceInDown {
    0% {
    opacity: 0;
    transform: translateY(-2000px);
}
60% {
    opacity: 1;
    transform: translateY(30px);
}
80% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0);
}
}.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
